<div class="container">
  <h2 class="sub-header" tt="haku">Haku</h2>
  <form>

    <div class="form-group">
      <label for="termi" class="col-sm-4">Nimi</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="termi" ng-model="termi">
      </div>
    </div>

    <div style="clear: both;"></div>
    <br/>

    <div class="form-group">
      <label for="languagePairsSearch" class="col-sm-2 control-label" tt="haku_kieliparit">Kieliparit</label>

      <div class="col-sm-8 col-sm-offset-2">
        <div>
          <p ng-repeat="kielipari in kieliparit">
            {{kielipari.kielesta.nimi.FI}} - {{kielipari.kieleen.nimi.FI}}
            <button type="button" class="btn btn-default btn-xs" ng-click="removeKielipari(kielipari)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </p>
        </div>

        <div>
          <ui-select ng-model="kielesta.selected" id="languagePairsSearch" class="col-sm-4">
            <ui-select-match placeholder="Kielestä">
              <span ng-bind="$select.selected.nimi.FI"></span>
            </ui-select-match>
            <ui-select-choices repeat="kieli in (kielet | selectFilter: $select.search) track by kieli.arvo" position="down">
              <span ng-bind="kieli.nimi.FI"></span>
            </ui-select-choices>
          </ui-select>

          <ui-select ng-model="kieleen.selected" class="col-sm-4">
            <ui-select-match placeholder="Kieleen">
              <span ng-bind="$select.selected.nimi.FI"></span>
            </ui-select-match>
            <ui-select-choices repeat="kieli in (kielet | selectFilter: $select.search) track by kieli.arvo" position="down">
              <span ng-bind="kieli.nimi.FI"></span>
            </ui-select-choices>
          </ui-select>

          <button class="btn btn-primary" ng-click="addKielipari()" tt="oikeustulkki_kielipari_lisaa">Lisää</button>
        </div>

      </div>
    </div>

    <br/>
    <div style="clear: both;"></div>

    <button class="btn btn-default" ng-click="search()">Hae</button>

  </form>

  <div ng-if="tulkit.length === 0" tt="haku_ei_tuloksia">Haulla ei löytynyt tuloksia</div>
  <div class="table-responsive" ng-if="tulkit && tulkit.length !== 0">
    <table class="table table-striped table-hover translator-list-table">
      <thead>
      <tr>
        <th tt="haku_nimi">Nimi</th>
        <th tt="haku_kieliparit">Kieliparit</th>
        <th>Voimassaolo päättyy</th>
        <th tt="haku_toimintaalue">Toiminta-alue</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="tulkki in tulkit">
        <!--<td><a ng-href="#/oikeustulkki/{{tulkki.id}}">{{tulkki.etunimet}} {{tulkki.sukunimi}}</a></td>-->
        <td>{{tulkki.etunimet}} {{tulkki.sukunimi}}</td>
        <td>
          <span ng-repeat="kielipari in tulkki.kieliParit">
             {{ getKieliNimi(kielipari.kielesta) }} - {{ getKieliNimi(kielipari.kieleen) }}
          </span>
        </td>
        <td>{{tulkki.paattyy[2]}}.{{tulkki.paattyy[1]}}.{{tulkki.paattyy[0]}}</td>
        <td>
          <span ng-if="tulkki.kokoSuomi" tt="haku_koko_suomi">Koko Suomi</span>
          <span ng-repeat="mk in tulkki.maakunnat"> {{maakunta(mk)}} </span>
        </td>
      </tr>
      </tbody>
    </table>

  </div>