<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 tt="session_warning_header">Istunto vanhenee</h3>
            </div>
            <div class="modal-body">
                <p tt="session_warning_text1">Istuntosi vanhenee 5 minuutin sisällä käyttämättömyyden johdosta.</p>
                <p tt="session_warning_text2">Istuntoaikoja on rajoitettu turvallisuuden vuoksi.</p>
            </div>
            <div id="sessionWarning" class="modal-footer">
                <button class="btn btn-primary" ng-click="okConfirm()" tt="session_warning_button">Palaa palveluun</button>
            </div>
        </div>
    </div>
</div>