$oph-green: #00a651;
$default-font-color: #1b1b1b;

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

@mixin oph-button($color, $font-color, $border-color) {
  height: 33px;
  background-color: $color !important;
  border: $border-color 1px solid !important;
  color: $font-color !important;

  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: bold !important;
}

body{
  font:100% Arial, Helvetica, sans-serif;
  color: $default-font-color !important;

  p, span, table, a{
    font:100% Arial, Helvetica, sans-serif;
  }
}

table{
  max-width: 940px !important;
}

.language-dropdown{
  padding-left: 0 !important;
}

.container{
  max-width: 940px;

  label,
  p {
    color: $default-font-color !important;
  }
}

input,
.form-control,
.btn{
  border-radius: 0 !important;
}

.btn-primary{
  @include oph-button(#f4f6f6, #1b1b1b, #a8a8a8);
}

.btn-search{
  @include oph-button($oph-green, white, $oph-green);
}

.tulkki-name{
  color: $oph-green;
  cursor: pointer;
}

.help-text{
  display: inline-block;

  span{
    position: relative;
    color: #999999;
    display: inline-block;
    font-size: 14px;
  }

  span:first-child{
    padding-top: 10px;
  }
}

#header{
  margin-top: 20px;
  max-width: 940px !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  & img{
    float: left;
  }

  & p{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-color: #1b1b1b;
    text-transform: uppercase;
    display: inline-block;
    height: 70px;
    vertical-align: middle;
  }

  & a{
    padding-top: 25px;
    text-decoration: none;
    float: right;
    font-size: 14px;
    color: #515151;
    cursor: pointer;
  }
}

#content-area{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

#nav-holder{
  background-color: #efeeee;
  background-repeat: repeat-x;
  height: 50px;
  background-image: url("../img/bg-section02.png");

  ul{
    list-style: none;
    border-left: white 1px solid;

    a{
      text-decoration: none;
      font-size: 17px;
      color: black;
    }

    li{
      float: left;
      border-bottom: $oph-green 5px solid;
      height: 50px;
      padding: 14px 5px 0 5px;

      &.divider{
        width: 0;
        padding: 0;
        border-left: 1px solid white;
        border-bottom: white;
      }
    }
  }

  &.first-child{
    background: rgba(0, 0, 0, 0) no-repeat scroll 0 0;
    float: left;
    padding: 0 0 0 1px;
    white-space: nowrap;
    line-height: 1.176em;
  }
}

#main-nav{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.instructions{
  padding: 40px 0;
  max-width: 600px;
}

.pagination > li {
  &.active > a {
    background-color: #f2f2f2 !important;
  }

  a {
    background-color: white !important;
    border: 1px solid #cccccc !important;
    color: $default-font-color !important;
    cursor: pointer;
  }
}

.pagination > li > a, .pagination > li > span {
  border-radius: 0 !important;
  height: 34px !important;
}

.multiline{
  span{
    display: block;
  }
}

.tulkki-row{
  cursor: pointer;
}

.tulkki-details .form-group label {
  padding-top: 0.4em;
}