<div id="header" idle="">
  <img src="img/opetushallitus.png">
  <p tt="oikeustulkkirekisteri">Oikeustulkkirekisteri</p>
  <a ng-click="switchLanguage()" tt="toinen_kieli"></a>
</div>

<div id="nav-holder">
  <ul id="main-nav">
    <li class="divider"></li>
    <li class="first-child" ng-class="{active: Page.activePage('searchOikeustulkki')}">
      <a href="#">
        <span tt="haku">Etsi oikeustulkkia</span>
      </a>
    </li>
    <li class="divider"></li>
    <li class="first-child" ng-class="{active: Page.activePage('addOikeustulkki')}">
      <a href="#addOikeustulkki">
        <span tt="oikeustulkki_lisaa">Lisää oikeustulkki</span>
      </a>
    </li>
    <li class="divider"></li>
  </ul>
</div>
