<div class="container">

  <h1>Lisää tulkki</h1>

  <form class="form-horizontal">

    <div class="form-group">
      <label for="firstName" class="col-sm-2 control-label required">Etunimi</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.etunimi" type="text" class="form-control" id="firstName" placeholder="Etunimi">
      </div>
    </div>

    <div class="form-group">
      <label for="lastName" class="col-sm-2 control-label required">Sukunimi</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.sukunimi" type="text" class="form-control" id="lastName" placeholder="Sukunimi">
      </div>
    </div>

    <div class="form-group">
      <label for="hetu" class="col-sm-2 control-label required">Hetu</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.hetu" type="text" class="form-control" id="hetu" placeholder="Hetu">
      </div>
    </div>

    <div class="form-group">
      <label for="address" class="col-sm-2 control-label required">Katuosoite</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.katuosoite" type="text" class="form-control" id="address" placeholder="Katuosoite">
      </div>
    </div>

    <div class="form-group">
      <label for="postalCode" class="col-sm-2 control-label required">Postinumero</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.postinumero" type="text" class="form-control" id="postalCode" placeholder="Postinumero">
      </div>
    </div>

    <div class="form-group">
      <label for="postalCity" class="col-sm-2 control-label required">Postitoimipaikka</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.postitoimipaikka" type="text" class="form-control" id="postalCity" placeholder="Postitoimipaikka">
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Sähköpostiosoite</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.sahkopostiosoite" type="text" class="form-control" id="email" placeholder="Sähköpostiosoite">
      </div>
    </div>

    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">Puhelinnumero</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.puhelinnumero" type="text" class="form-control" id="phone" placeholder="Puhelinnumero">
      </div>
    </div>

    <div class="form-group">
      <label for="contactInfo" class="col-sm-2 control-label">Muu yhteystieto</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.muuYhteystieto" type="text" class="form-control" id="contactInfo" placeholder="Muu yhteystieto">
      </div>
    </div>

    <div class="form-group">
      <label for="qualification" class="col-sm-2 control-label required">Suoritettu tutkinto</label>
      <div class="col-sm-8">
        <input ng-model="tulkki.tutkinto" type="text" class="form-control" id="qualification" placeholder="Suoritettu tutkinto">
      </div>
    </div>

    <!--<div class="form-group">-->
      <!--<label for="startDate" class="col-sm-2 control-label">Alkupvm</label>-->
      <!--<div class="col-sm-8">-->
        <!--<input type="date" class="form-control" id="startDate" placeholder="Alkupvm">-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="endDate" class="col-sm-2 control-label">Loppupvm</label>-->
      <!--<div class="col-sm-8">-->
        <!--<input type="date" class="form-control" id="endDate" placeholder="Loppupvm">-->
      <!--</div>-->
    <!--</div>-->

    <div class="form-group">
      <label for="languagePairs" class="col-sm-2 control-label required">Kieliparit</label>

      <div class="col-sm-8">
        <div>
          <p ng-repeat="kielipari in tulkki.kieliparit">
            {{kielipari.kielesta}} - {{kielipari.kieleen}}
            <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </p>
        </div>

        <div class="col-sm-8">
          <select id="languagePairs" ng-model="kielesta" ng-options="k.arvo as k.nimi.FI for k in kielet"></select>
          <select ng-model="kieleen" ng-options="k.arvo as k.nimi.FI for k in kielet"></select>
          <button class="btn btn-primary" ng-click="addKielipari()">Lisää</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="extraInfo" class="col-sm-2 control-label">Lisätietoa</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="3" id="extraInfo" placeholder="Lisätietoa"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="region" class="col-sm-2 control-label required">Toiminta-alue</label>
      <div class="col-sm-8">
        <ui-select multiple tagging ng-model="tulkki.toimintaAlue" id="region">
          <ui-select-match placeholder="Toiminta-alue">
            <span ng-bind="$item.nimi.FI"></span>
          </ui-select-match>
          <ui-select-choices repeat="region in (regions | filter: $select.search) track by region.arvo">
            <span ng-bind="region.nimi.FI"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="" id="infoPublished">
            Julkaistu
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button class="btn btn-primary" ng-click="save()">Tallenna</button>
        <button class="btn btn-default">Peruuta</button>
      </div>
    </div>

  </form>

</div>
