
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-10 main">
      <h2 class="sub-header">Haku</h2>

      <form class="form-inline">

        <div class="form-group">
          <label for="searchName">Nimi</label>
          <input type="text" class="form-control" id="searchName" placeholder="Nimi">
        </div>

        <div class="form-group">
          <label for="searchHetu">Hetu</label>
          <input type="text" class="form-control" id="searchHetu" placeholder="Hetu">
        </div>

        <div class="form-group">
          <label for="personId">Henkilönumero</label>
          <input type="text" class="form-control" id="personId" placeholder="Henkilönumero">
        </div>

        <div class="form-group">
          <select id="languagePairs" ng-model="kielesta" ng-options="k.arvo as k.nimi.FI for k in kielet"></select>
          -
          <select ng-model="kieleen" ng-options="k.arvo as k.nimi.FI for k in kielet"></select>
        </div>

        <button class="btn btn-default" ng-click="search()">Hae</button>
      </form>

      <br/>
      <div class="table-responsive" ng-show="showResults">
        <table class="table table-striped table-hover translator-list-table">
          <thead>
          <tr>
            <th>Nimi</th>
            <th>Hetu</th>
            <th>Kieliparit</th>
            <th>Loppupvm</th>
            <th>Toiminta-alue</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="a in [1,2,3,4,5]">
            <td><a href="#/translator/33">Erkki Esimerkki2</a></td>
            <td>280465-8095</td>
            <td>Suomi-Ruotsi</td>
            <td>01.01.2020</td>
            <td>Pirkanmaa</td>
          </tr>


          </tbody>
        </table>

        <nav style="text-align: center;">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>


  </div>
</div>
