body {
    padding-top: 50px;
}

.btn-container-right{
    float: right;
}

.required{
    &:after{
        content: "*";
    }
}

.error-msg{
    color:maroon;
}

.history-panel{
    & .panel-heading{
        cursor: pointer;
    }
}

.form-control-static.inline {
    padding-top: 0px;
}







$oph-green: #00a651;
$default-font-color: #1b1b1b;

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

@mixin oph-button($color, $font-color, $border-color) {
    height: 33px;
    background-color: $color !important;
    border: $border-color 1px solid !important;
    color: $font-color !important;

    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: bold !important;
}

body{
    font:100% Arial, Helvetica, sans-serif;
    color: $default-font-color !important;

    p, span, table{
        font:100% Arial, Helvetica, sans-serif;
    }
}

table{
    max-width: 940px !important;
}

.language-dropdown{
    padding-left: 0 !important;
}

.container{

    max-width: 940px;
    padding-left: 0 !important;

    label,
    p {
        color: $default-font-color !important;
    }
}

input,
.form-control,
.btn{
    border-radius: 0 !important;
}

.btn-oph-default{
    @include oph-button(#f4f6f6, #1b1b1b, #a8a8a8);
}

.btn-save,
.btn-search{
    @include oph-button($oph-green, white, $oph-green);
}

.btn-danger{
    @include oph-button(#f24c48, white, #f24c48);
}

.tulkki-name{
    color: $oph-green;
    cursor: pointer;
}

@mixin oph-help-text() {
    color: #999999;
    font-size: 14px;
}

.help-text{
    @include oph-help-text();

    position: relative;
    width: 200px;
    display: inline-block;
    float: left;
}

.no-selection{
    @include oph-help-text();
    padding-bottom: 10px;
}

#header{
    margin-top: 20px;
    max-width: 940px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    & img{
        float: left;
    }

    & p{
        padding-top: 20px;
        font-size: 20px;
        font-weight: bold;
        font-color: #1b1b1b;
        text-transform: uppercase;
        display: inline-block;
        height: 70px;
        vertical-align: middle;
    }

    & a{
        padding-top: 25px;
        text-decoration: none;
        float: right;
        font-size: 14px;
        color: #515151;
        cursor: pointer;
    }
}

#content-area{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

#nav-holder{
    background-color: #efeeee;
    background-repeat: repeat-x;
    height: 50px;
    background-image: url("../img/bg-section02.png");

    ul{
        list-style: none;

        a{
            text-decoration: none;
            font-size: 17px;
            color: black;
        }

        li{
            float: left;
            height: 50px;
            padding: 14px 5px 0 5px;

            &.active{
                border-bottom: $oph-green 5px solid;
            }

            &.divider{
                width: 0;
                padding: 0;
                border-left: 1px solid white;
                border-bottom: white;
            }
        }
    }

    &.first-child{
        background: rgba(0, 0, 0, 0) no-repeat scroll 0 0;
        float: left;
        padding: 0 0 0 1px;
        white-space: nowrap;
        line-height: 1.176em;
    }
}

#main-nav{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.instructions{
    padding: 40px 0;
    max-width: 600px;
}

.form-group{
    label{
        font-weight: normal;
        font:100% Arial, Helvetica, sans-serif;
        color: $default-font-color !important;
        text-align: left !important;
    }
}

.form-header{
    padding: 20px 0;
    font-size: 17px;
    text-transform: uppercase;

    span{
        font-weight: bold;
    }
}

.required-info{
    float: right;
    font-size: 12px;
    color: #999999;
    text-transform: none;

    span{
        font-weight: normal;
    }
}

.checkbox-row{
    input{
        width: 65%;
        float: left;
    }

    .checkbox{
        width: 150px;
        float: right;
        height: 34px;

        input{
            width: 20px;
            top: 2px;
        }

        span{
            margin-left: 15px;
        }
    }
}

.remove-pair-btn{
    color: white !important;
    background: #f24c48 !important;
    padding: 2px !important;
    height: 17px;
}

.language-pairs div{
    padding-left: 0 !important;

    & span{
        background-color: white !important;
    }
}

#infoPublished{
    margin-top: 0;
}

.ui-select-choices-row.active > a {
    color: #000 !important;
}

.pagination > li {
    &.active > a {
        background-color: #f2f2f2 !important;
    }

    a {
        background-color: white !important;
        border: 1px solid #cccccc !important;
        color: $default-font-color !important;
        cursor: pointer;
    }
}

.pagination > li > a, .pagination > li > span {
    border-radius: 0 !important;
    height: 34px !important;
}

.field-text{
    font-weight: bold;
}

.help-text{
    display: inline-block;
    max-width: 200px;

    span{
        position: relative;
        width: 200px;
        color: #999999;
        display: inline-block;
        float: left;
        font-size: 14px;
    }

    span:first-child{
        padding-top: 10px;
    }
}

.multiline{
    white-space: pre-line;

    span{
        display: block;
        line-height: 5px;
        padding-bottom: 8px;
    }
}

