body {
    padding-top: 50px;
}

.todo{
    color: red;

    &:before{
        content: "TODO: ";
    }
}
.btn-container-right{
    float: right;
}

.required{
    &:after{
        content: "*";
    }
}

.error-msg{
    color:maroon;
}

.history-panel{
    & .panel-heading{
        cursor: pointer;
    }
}